@page "/"
@inject IDataService DataService

<div class="grid">
    <QuickGrid ItemsProvider="@itemsProvider" ResizableColumns="true" Pagination="@pagination">
        <TemplateColumn Title="Code" SortBy="@(_ => _.SortByDescending(c => c.Code))">
            <img class="flag" src="flags/@(context.Code).svg" />
        </TemplateColumn>
        <PropertyColumn Class="country-name" Property="@(c => c.Name)" Sortable="true" />
        <PropertyColumn Property="@(c => c.Medals.Gold)" Sortable="true" Align="Align.Right" />
        <PropertyColumn Property="@(c => c.Medals.Silver)" Sortable="true" Align="Align.Right" />
        <PropertyColumn Property="@(c => c.Medals.Bronze)" Sortable="true" Align="Align.Right" />
        <PropertyColumn Property="@(c => c.Medals.Total)" Sortable="true" Align="Align.Right" />
    </QuickGrid>
    <Paginator @bind-value="@pagination" />
</div>

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 15 };
    GridItemsProvider<Country> itemsProvider;

    protected override void OnInitialized()
    {
        itemsProvider = async req =>
        {
            var sortByColumn = req.SortByColumn switch
            {
                ISortBuilderColumn<Country> c => c.SortBuilder.Value.ToPropertyList().Single().PropertyName,
                _ => "Name"
            };

            var data = await DataService.GetCountriesAsync(req.StartIndex, req.Count, sortByColumn, req.SortByAscending, req.CancellationToken);
            return GridItemsProviderResult.From(data, 100);
        };
        pagination.TotalItemCount = 100; // TODO
    }
}
